<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
      th:with="currentPage='track'">
<head>
    <script th:src="@{/scripts/jquery.subwayMap-0.5.0.js}" src="../static/scripts/jquery.subwayMap-0.5.0.js"></script>
</head>

<body>
<div layout:fragment="content">
    <!-- https://www.kalyani.com/blog/2010/10/08/subway-map-visualization-jquery-plugin/ -->
    <div id="subway-map" data-columns="12" data-rows="2" data-cellSize="100" data-legendId="none" data-textClass="text" data-gridNumbers="false" data-grid="false" data-lineWidth="16">
        <ul data-color="green">
            <li th:each="node : ${travelledNodes}" th:attr="data-coords=${node.coords}" th:text="${node.name}">Melbourne</li>
        </ul>
        <ul data-color="red">
            <li th:each="node : ${untravelledNodes}" th:attr="data-coords=${node.coords}" th:text="${node.name}">Sydney</li>
        </ul>
    </div>
    <script type="text/javascript">
        $("#subway-map").subwayMap({ debug: true });
    </script>
</div>
</body>
</html>